@import '_reset';
@import '_fonts';
@import '_variable';
@import '_menu';

//

body {
  background: $bg;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1152px;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;

  color: #21243d;
}

// Главный контейнер
._container {
  width: 100%;
  max-width: $max-width + 20px;
  padding: 0 10px;
  margin: 0 auto;
}

// Второй контейнер
._container2 {
  width: 100%;
  max-width: $max-width + 20px;
  margin: 0 auto;
}

main {
  margin: 70px 0 0 0;
  flex: 1 1 auto;
}

a.active {
  color: #ff6464;
}
